.nav-link {
  color: #000;
  font-weight: 600;
  padding: 5px;
}

a.nav-home {
  color: #1da1f2;
  font-weight: 700;
  text-decoration: none;
}

.navbar {
  border-right-color: #edf0f2;
  border-right-width: 1px;
  border-right-style: solid;
}

.feed-border {
  border-color: #edf0f2;
  border-width: 1px;
  border-style: solid;
  border-left-width: 0px;
}

.logout-btn {
  margin-left: 20px;
}

.login-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-top-border {
  border-top-color: #edf0f2;
  border-top-style: solid;
  border-top-width: 1px;
  background-color: white;
}

.feed-top-border-chield {
  border-color: #edf0f2;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.feed-top-border-chield-repost {
  border-color: #edf0f2;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin-top: 10px;
  width: 80%;
  margin-bottom: 15px;
}

.login-page {
  background-color: #7f80a9;
  /* width: 850px; */
  background-image: url('../../public/images/undraw_personal_opinions_re_qw29.svg');
  /* background-image: url('../../public/images/undraw_chat_re_re1u.svg'); */
  background-size: cover;
  background-position: center;
}

.filter-gotchas {
  justify-content: space-between;
  width: 90%;
  margin-left: 20px;
  margin-bottom: 10px;

  input {
    border-radius: 5px;
    border-color: #edf0f2;
    border-style: solid;
  }

  div {
    justify-content: space-between;
    width: 30%;

    i {
      align-self: center;
      margin-left: 5px;
    }
  }
}

.small-warning {
  color: red;
  align-self: center;
}

.login-modal {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 40%;
  justify-content: space-evenly;

  button {
    width: 80%;
  }

  div {
    input {
      width: 80%;
      border-radius: 10px;
      padding: 10px;
    }

    i {
      align-self: center;
    }

    padding: 10px;
    justify-content: space-evenly;
  }
}

.feed-bottom-border {
  border-bottom-color: #edf0f2;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  button {
    margin-left: 80%;
  }
}

.dots {
  margin-left: 30px;
}

.nick-name {
  color: #5b7083;
}

.header-feed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #edf0f2;

  h4 {
    margin: 15px;
    font-size: 19px;
  }

  i {
    margin: 15px;
    color: #1da1f2;
  }
}

.gotcha-post {
  display: flex;

  border-bottom-color: #edf0f2;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: .5rem;
    margin-bottom: 10px;
  }

  input {
    border-width: 0px;
    width: 80%;
    margin-left: 10px;
  }

  textarea {
    border-width: 0px;
    width: 80%;
    margin-left: 10px;
  }

  button {
    width: 15%;
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

.resend-gotcha {
  cursor: pointer;
}